.studentTM-main-container {
  width: 100%;
  height: 100%;
  padding: 4rem 0 3.5rem 0;
  background-color: #ffffff;
  text-align: center;
}

.studentTM-content {
  display: block;
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  position: relative;
}

.studentTM-main-container h1 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
  padding: 1rem;
}

.studentTM-main-container h2 {
  font-size: 1.25rem;
  color: #333333;
  font-weight: 100;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}

.studentTM-cards {
  /* width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  overflow-x: scroll;
  padding-top: 4rem; */

  width: 100%;
  margin: auto;
  display: flex;
  overflow-x: auto;
  padding-top: 4rem;
  align-items: flex-start;
}

.studentTM-card {
  position: relative;
  min-width: 350px;
  text-align: center;
  margin: 0 0 32px 20px;
  border: 2px solid #afb7c0;
  border-radius: 10px;
  padding: 80px 10px 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.studentTM-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #afb7c0;
}

.studentTM-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.studentTM-card h3 {
  font-size: 20px;
  padding: 1rem 0;
  color: #333333;
}

.studentTM-read-more,
.studentTM-read-less {
  font-size: 16px;
  font-weight: 600;
  color: #7b3fe4;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 4px;
}

.studentTM-card p {
  font-size: 16px;
  padding-bottom: 8px;
  color: #333333;
}

.studentTM-card:first-of-type {
  margin-left: 0;
}

.studentTM-cards::-webkit-scrollbar {
  display: none;
}

.studentTM-btn {
  width: 240px;
  color: #333333;
  background: #ffffff;
  padding: 10px 16px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: inset 0 0.361px 0.181px -1.25px rgba(0, 0, 0, 0.18),
    inset 0 1.373px 0.687px -2.5px rgba(0, 0, 0, 0.16),
    inset 0 6px 3px -3.75px rgba(0, 0, 0, 0.06),
    inset 0 0.422px 0.422px -1.25px hsla(0, 0%, 100%, 0.18),
    inset 0 1.602px 1.602px -2.5px hsla(0, 0%, 100%, 0.16),
    inset 0 7px 7px -3.75px hsla(0, 0%, 100%, 0.06),
    0 0.652px 0.652px -0.2px rgba(0, 0, 0, 0.02),
    0 1.776px 1.776px -0.4px rgba(0, 0, 0, 0.02),
    0 3.899px 3.899px -0.6px rgba(0, 0, 0, 0.03),
    0 8.655px 8.655px -0.8px rgba(0, 0, 0, 0.04),
    0 22px 22px -1px rgba(0, 0, 0, 0.08);
}

.studentTM-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1024px) {
  .studentTM-main-container h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 968px) {
  .studentTM-main-container {
    width: 100%;
  }

  .studentTM-main-container h1 {
    font-size: 1.5rem;
  }

  .studentTM-cards {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .studentTM-card {
    min-width: 400px;
  }
}

@media (max-width: 468px) {
  .studentTM-card {
    min-width: 425px;
  }
}
