.patient-swiper-container {
  width: 100%;
  padding-top: 4rem;
  background-color: rgb(252, 250, 250);
}

.patient-swiper-content1,
.patient-swiper-content2 {
  display: block;
  width: 100%;
  margin: auto;
  padding: 5rem 0 1rem 0;
  position: relative;
  background-color: rgb(252, 250, 250);
}

.patient-swiper-content2 {
  background-color: #333333;
  padding: 8rem 0 1rem 0;
}

.patient-swiper-content1 h1,
.patient-swiper-content2 h1 {
  border-radius: 33px;
  background: white;
  color: #333333;
  border: 1px solid #afb7c0;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  white-space: nowrap;
}

.patient-swiper-content2 h1 {
  top: 30px;
}

.patient-swiper-slide {
  background-position: center;
  background-size: cover;
  width: 28%;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 2.5rem 0 2rem;
}

.patient-swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.swiper-slide-active img {
  filter: grayscale(0%);
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .patient-swiper-content {
    width: 90%;
  }

  .patient-swiper-slide {
    width: 38%;
  }
}

@media (max-width: 968px) {
  .patient-swiper-container {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .patient-swiper-container h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .patient-swiper-slide {
    width: 50%;
  }
}

@media (max-width: 468px) {
  .patient-swiper-container h1 {
    font-size: 1rem;
  }

  .patient-swiper-slide {
    width: 100%;
  }
}
