.vjc-main-container {
  width: 100%;
  padding: 4rem 0 2rem 0;
  background-color: #ffffff;
}

.vjc-main-container h2 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.vjc-subtitle {
  font-size: 1.5rem;
  color: #333333;
  padding: 10px;
  font-weight: 100;
  text-align: center;
  padding: 1rem;
}

.vjc-card {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.vjc-content {
  width: 49%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vjc-content p {
  font-size: 20px;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.vjc-btn {
  width: 240px;
  color: #333333;
  background: #ffffff;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.vjc-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

.vjc-image {
  width: 49%;
  margin: auto 0;
}

.vjc-image img {
  width: 100%;
  border-radius: 10px;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .vjc-card {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .vjc-main-container h2 {
    font-size: 1.5rem;
  }

  .vjc-subtitle {
    font-size: 20px;
  }

  .vjc-card {
    flex-wrap: wrap-reverse;
  }

  .vjc-image {
    width: 80%;
    margin: auto;
  }

  .vjc-content {
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 568px) {
  .vjc-main-container {
    padding: 3rem 0 1rem 0;
  }

  .vjc-image {
    width: 100%;
  }
}
