.vidya-main-container {
  width: 100%;
  padding: 5rem 0 1rem 0;
  background-color: rgb(252, 250, 250);
}

.vidya-main-container h2 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
}

.vidya-main-container h3 {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  color: #333333;
  padding: 1rem;
}

.vidya-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.vidya-image {
  width: 50%;
}

.vidya-image img {
  width: 90%;
}

.vidya-para {
  width: 50%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vidya-para p {
  padding: 2rem 0;
  font-size: 18px;
  color: #333333;
}

.vidya-btn {
  width: 160px;
  color: #333333;
  background: #ffffff;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); */
  box-shadow:
    inset 0 0.361px 0.181px -1.25px rgba(0, 0, 0, 0.18),
    inset 0 1.373px 0.687px -2.5px rgba(0, 0, 0, 0.16),
    inset 0 6px 3px -3.75px rgba(0, 0, 0, 0.06),
    inset 0 0.422px 0.422px -1.25px hsla(0, 0%, 100%, 0.18),
    inset 0 1.602px 1.602px -2.5px hsla(0, 0%, 100%, 0.16),
    inset 0 7px 7px -3.75px hsla(0, 0%, 100%, 0.06),
    0 0.652px 0.652px -0.2px rgba(0, 0, 0, 0.02),
    0 1.776px 1.776px -0.4px rgba(0, 0, 0, 0.02),
    0 3.899px 3.899px -0.6px rgba(0, 0, 0, 0.03),
    0 8.655px 8.655px -0.8px rgba(0, 0, 0, 0.04),
    0 22px 22px -1px rgba(0, 0, 0, 0.08);
}

.vidya-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .vidya-content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .vidya-main-container {
    width: 100%;
    padding: 2.5rem 0;
  }

  .vidya-main-container h2 {
    font-size: 1.5rem;
  }

  .vidya-main-container h3 {
    font-size: 20px;
  }

  .vidya-content {
    flex-wrap: wrap;
    padding: 0;
  }

  .vidya-image {
    width: 80%;
    margin: auto;
  }

  .vidya-para {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 568px) {
  .vidya-image {
    width: 100%;
  }

  .vidya-image img {
    width: 100%;
  }

  .vidya-para p {
    padding-top: 2rem;
    font-size: 1rem;
  }
}
