.about-main-container {
  width: 100%;
  padding: 4rem 0;
  background-color: rgb(252, 250, 250);
}

.about-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.about-main-container h2 {
  font-size: 2rem;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.about-main-container h3 {
  font-size: 1.25rem;
  color: #333333;
  text-transform: uppercase;
}

.about-para {
  width: 50%;
  color: #333333;
}

.about-image {
  width: 50%;
  text-align: end;
}

.about-image img {
  width: 90%;
  border-radius: 10px;
  border: 1px solid white;
}

.about-para p {
  padding: 2rem 0;
  font-size: 18px;
}

.about-btn {
  color: #333333;
  background: #ffffff;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.about-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .about-content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .about-main-container {
    padding: 2.5rem 0;
  }

  .about-content {
    flex-wrap: wrap-reverse;
    padding: 0;
  }

  .about-image {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
  }

  .about-para {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 568px) {
  .about-main-container h3 {
    font-size: 18px;
  }

  .about-main-container h2 {
    font-size: 1.5rem;
  }

  .about-image {
    width: 100%;
  }

  .about-image img {
    width: 100%;
  }

  .about-para {
    padding: 0;
  }

  .about-para p {
    font-size: 1rem;
  }
}
