.surgeon-main-container {
  width: 100%;
  padding-top: 4rem;
  background-color: #ffffff;
}

.surgeon-main-container h2 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.surgeon-main-container h3 {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  color: #333333;
  padding: 1rem;
}

.surgeon-content {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
  display: flex;
  align-items: center;
}

.surgeon-image {
  width: 50%;
  text-align: center;
}

.surgeon-image img {
  width: 90%;
}

.surgeon-para {
  width: 50%;
  color: #333333;
}

.surgeon-para h3 {
  font-size: 22px;
  padding-bottom: 1rem;
}

.surgeon-para h4 {
  font-size: 18px;
  padding-bottom: 1rem;
}

.surgeon-para p {
  font-size: 18px;
  padding-bottom: 2rem;
}

.surgeon-btn {
  color: #333333;
  background: #ffffff;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.surgeon-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .surgeon-content {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .surgeon-main-container {
    padding: 4rem 0 2rem 0;
  }

  .surgeon-para {
    padding: 1rem 0;
  }
}

@media (max-width: 768px) {
  .surgeon-main-container h2 {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .surgeon-main-container h3 {
    font-size: 20px;
  }

  .surgeon-content {
    flex-wrap: wrap;
    padding: 0;
  }

  .surgeon-image {
    width: 80%;
    margin: auto;
  }

  .surgeon-para {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 568px) {
  .surgeon-main-container h2 {
    padding: 0 10px;
  }

  .surgeon-image {
    width: 100%;
  }

  .surgeon-image img {
    width: 100%;
  }

  .surgeon-para {
    padding: 0;
  }

  .surgeon-para p {
    font-size: 1rem;
  }
}
