.gallery-main-container {
  width: 100%;
  padding: 2.5rem 0;
  background-color: rgb(252, 250, 250);
}

.gallery-main-container h2 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.gallery-folder-list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

.gallery-folder {
  width: 48%;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.1s;
  padding: 1rem;
}

.gallery-folder:hover {
  transform: scale(1.04);
  box-shadow:
    -2px 2px 10px rgba(0, 0, 0, 0.3),
    2px -2px 10px rgba(0, 0, 0, 0.3),
    -2px -2px 10px rgba(0, 0, 0, 0.3),
    2px 2px 10px rgba(0, 0, 0, 0.3);
}

.thumbnail-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  margin-bottom: 1rem;
}

.thumbnail-image img {
  width: 48%;
  height: 100%;
  border-radius: 16px;
}

.thumbnail-title {
  align-content: center;
  height: 70px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.thumbnail-title h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.gallery-hover-message {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 16px;
  white-space: nowrap;
  pointer-events: none;
  transform: translate(10px, -50%);
  transition: opacity 0.2s ease;
  z-index: 10;
}

.gallery-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.gallery-modal {
  background: white;
  padding: 1rem 1rem 0 1rem;
  width: 90%;
  height: 90%;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.gallery-modal h3 {
  margin-bottom: 20px;
  text-align: center;
}

.gallery-modal-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 40px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.gallery-images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.gallery-images-list img {
  width: 24%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.gallery-fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(15, 15, 15, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
}

.gallery-fullscreen-image {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.gallery-fullscreen-nav-btn {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  padding: 10px;
  z-index: 10000;
}

.gallery-fullscreen-nav-btn.gallery-fullscreen-prev {
  left: 20px;
}

.gallery-fullscreen-nav-btn.gallery-fullscreen-next {
  right: 20px;
}

.gallery-fullscreen-overlay .gallery-fullscreen-close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .gallery-folder-list {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .gallery-folder-list {
    width: 90%;
  }

  .gallery-images-list img {
    width: 32%;
  }

  .folder-thumbnail {
    height: 300px;
  }
}

@media (max-width: 968px) {
  .gallery-modal {
    height: 85%;
    margin-top: 6rem;
  }

  .gallery-fullscreen-overlay {
    margin-top: 6rem;
  }
}

@media (max-width: 768px) {
  .gallery-main-container h2 {
    font-size: 1.5rem;
  }

  .gallery-folder {
    width: 48%;
  }

  .gallery-images-list img {
    width: 48%;
  }
}

@media (max-width: 568px) {
  .gallery-folder {
    width: 100%;
  }

  .folder-thumbnail {
    object-position: top;
  }

  .gallery-images-list img {
    width: 100%;
  }
}
