.education-main-container {
  width: 100%;
  height: auto;
  padding: 4rem 0 1rem 0;
  background-color: rgb(252, 250, 250);
}

.education-main-container h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.education-main-container h3 {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 100;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}

.education-card {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.education-content {
  width: 49%;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-content h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #333333;
}

.education-content h5 {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  color: #333333;
}

.education-content p {
  font-size: 18px;
  padding-bottom: 1rem;
  color: #333333;
}

.education-image {
  width: 49%;
  text-align: center;
}

.education-image img {
  width: 75%;
  height: 100%;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .education-card {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .education-main-container h2 {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .education-main-container h3 {
    font-size: 1.25rem;
    padding: 0 1rem 1rem 1rem;
  }

  .education-content h4 {
    font-size: 1.25rem;
  }

  .education-content h5 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .education-main-container {
    padding-top: 2rem;
  }

  .education-card {
    flex-direction: column;
    margin-top: 1rem;
  }

  .education-image {
    width: 80%;
    margin: auto;
  }

  .education-content {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .education-content h2 {
    font-size: 1.5rem;
  }

  .education-image {
    width: 100%;
  }
}
