.educationKM-main-container {
  width: 100%;
  padding-bottom: 2rem;
  background-color: rgb(252, 250, 250);
}

.educationKM-content1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #425d92;
  border-radius: 0 0 30px 30px;
}

.educationKM-hero-wrapper1 {
  width: 50%;
  position: relative;
  align-content: center;
  z-index: 1;
}

.educationKM-hero-wrapper1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://cdn.dribbble.com/userupload/44903067/file/e22301f8cc5efb135fd2a9b9301bb1d5.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.35;
  z-index: -1;
}

.educationKM-image1 {
  width: 50%;
  text-align: end;
}

.educationKM-image1 img {
  width: 90%;
}

.educationKM-para1 {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.educationKM-para1 h4 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
  color: #425d92;
}

.educationKM-para1 h5 {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  color: #000000;
}

.educationKM-para1 p {
  font-size: 20px;
  color: #000000;
}

.educationKM-btn {
  color: #333333;
  background: #ffffff;
  padding: 10px 16px;
  margin: 1rem 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  box-shadow:
    inset 0 0.361px 0.181px -1.25px rgba(0, 0, 0, 0.18),
    inset 0 1.373px 0.687px -2.5px rgba(0, 0, 0, 0.16),
    inset 0 6px 3px -3.75px rgba(0, 0, 0, 0.06),
    inset 0 0.422px 0.422px -1.25px hsla(0, 0%, 100%, 0.18),
    inset 0 1.602px 1.602px -2.5px hsla(0, 0%, 100%, 0.16),
    inset 0 7px 7px -3.75px hsla(0, 0%, 100%, 0.06),
    0 0.652px 0.652px -0.2px rgba(0, 0, 0, 0.02),
    0 1.776px 1.776px -0.4px rgba(0, 0, 0, 0.02),
    0 3.899px 3.899px -0.6px rgba(0, 0, 0, 0.03),
    0 8.655px 8.655px -0.8px rgba(0, 0, 0, 0.04),
    0 22px 22px -1px rgba(0, 0, 0, 0.08);
}

.educationKM-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

.educationKM-content2 {
  width: 80%;
  margin: 2rem auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #425d92;
  border-radius: 0 0 30px 30px;
}

.educationKM-image2 {
  width: 25%;
}

.educationKM-image2 img {
  width: 100%;
  height: 100%;
}

.educationKM-hero-wrapper2 {
  width: 70%;
  position: relative;
  align-content: center;
  z-index: 1;
}

.educationKM-hero-wrapper2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://cdn.dribbble.com/userupload/44903069/file/282f7abc6f329740f875a7018b7caeed.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: -1;
}

.educationKM-para2 {
  width: 70%;
}

.educationKM-para2 h4 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
  color: #425d92;
}

.educationKM-para2 h5 {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  color: #000000;
}

.educationKM-para2 p {
  font-size: 20px;
  color: #000000;
}

.educationKM-last-para {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.educationKM-main-container span {
  font-size: 20px;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .educationKM-content1 {
    width: 90%;
  }

  .educationKM-content2 {
    width: 90%;
  }

  .educationKM-last-para {
    width: 90%;
  }

  .educationKM-para1 {
    padding: 1rem 1.5rem 0 0;
  }

  .educationKM-para2 {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .educationKM-image2 {
    width: 30%;
  }

  .educationKM-hero-wrapper {
    width: 65%;
  }

  .educationKM-para1 p,
  .educationKM-para2 p,
  .educationKM-last-para span {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .educationKM-content1 {
    flex-wrap: wrap-reverse;
  }

  .educationKM-image1 {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .educationKM-hero-wrapper1 {
    width: 100%;
  }

  .educationKM-para1 {
    width: 100%;
    padding: 1rem;
  }

  .educationKM-content2 {
    flex-wrap: wrap;
  }

  .educationKM-image2 {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .educationKM-hero-wrapper2 {
    width: 100%;
  }

  .educationKM-para2 {
    width: 100%;
    padding: 1rem;
  }

  .educationKM-hero-wrapper1::before,
  .educationKM-hero-wrapper2::before {
    width: 100%;
    background-image: none;
  }

  .educationKM-btn {
    margin: 1rem 0 2rem 1rem;
  }
}

@media (max-width: 568px) {
  .educationKM-image1,
  .educationKM-image2 {
    width: 100%;
  }

  .educationKM-image1 img,
  .educationKM-image2 img {
    width: 100%;
  }

  .educationKM-para1 h4,
  .educationKM-para2 h4 {
    font-size: 1.5rem;
  }

  .educationKM-para1 h5,
  .educationKM-para2 h5 {
    font-size: 18px;
  }

  .educationKM-para1 p,
  .educationKM-para2 p,
  .educationKM-last-para span {
    font-size: 1rem;
  }
}
