.specialities-main-container {
  width: 100%;
  padding: 3.5rem 0 2rem 0;
  background-color: rgb(252, 250, 250);
}

.specialities-main-container h2 {
  font-size: 2rem;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.specialities-cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.specialities-subtitle {
  font-size: 1.5rem;
  color: #333333;
  margin: 12px 0 24px 0;
  padding: 1rem;
  font-weight: 100;
  text-align: center;
  border-radius: 10px;
}

.specialities-card {
  width: 31%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out 0.2s;
  box-shadow:
    inset 0 0.361px 0.181px -1.25px rgba(0, 0, 0, 0.18),
    inset 0 1.373px 0.687px -2.5px rgba(0, 0, 0, 0.16),
    inset 0 6px 3px -3.75px rgba(0, 0, 0, 0.06),
    inset 0 0.422px 0.422px -1.25px hsla(0, 0%, 100%, 0.18),
    inset 0 1.602px 1.602px -2.5px hsla(0, 0%, 100%, 0.16),
    inset 0 7px 7px -3.75px hsla(0, 0%, 100%, 0.06),
    0 0.652px 0.652px -0.2px rgba(0, 0, 0, 0.02),
    0 1.776px 1.776px -0.4px rgba(0, 0, 0, 0.02),
    0 3.899px 3.899px -0.6px rgba(0, 0, 0, 0.03),
    0 8.655px 8.655px -0.8px rgba(0, 0, 0, 0.04),
    0 22px 22px -1px rgba(0, 0, 0, 0.08);
}

.specialities-card img {
  width: 75px;
}

.specialities-card h5 {
  color: #333333;
  padding: 12px 24px 0 24px;
  font-size: 18px;
  font-weight: 400;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .specialities-cards {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .specialities-main-container h2 {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .specialities-subtitle {
    font-size: 20px;
  }

  .specialities-card {
    width: 48%;
  }
}

@media (max-width: 568px) {
  .specialities-card {
    width: 98%;
  }

  .specialities-card h5 {
    font-size: 1rem;
    padding: 1rem;
  }
}
